<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kochkor Careers</title> 
    {% include 'bootstrap.html' %}
</head> 
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Kochkor Careers</h1>
    <h2 class="text-center mt-2 mb-4">About Kochkor</h2>
    <div class="row" style="margin-bottom:16px">
      <div class="col-md-6">
    <p class="lead">
      Welcome to Kochkor Careers, your one-stop-shop for finding IT job opportunities in Kochkor, Kyrgyzstan. Our web application is designed to make job searching easy and efficient for job seekers and employers alike.
Whether you're a seasoned professional or just starting out, you'll find a range of IT jobs posted by reputable companies in Kochkor. From frontend and backend development to project management and IT support, we have a wide variety of job openings to suit different skill levels and interests.
Our user-friendly platform allows you to search for jobs by category, company, and location, so you can easily find the jobs that match your skills and preferences. You can also upload your resume and create a profile to showcase your qualifications to potential employers.
For employers, our platform offers a streamlined hiring process with features like resume search and job posting. We make it easy to find the right candidate for your IT job opening in Kochkor.
At Kochkor Careers, we are committed to providing a high-quality job search experience for our users. Join us today and take the first step towards your dream IT career in Kochkor!</p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpeg" 
          style="height:320px;border-radius:4px;">
      </div>
    </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}  
      {% endfor %}
    </div>
    <div class="text-center">
     <a class="btn btn-primary btn-lg"href="mailto:hello@kochkor.ai?subject=Questions about job openings">Contact Us</a>
      
    </div>
   </div>  
    {% include 'footer.html' %}
</body>
</html>
